
.page.theme_dark {
  --text-color: var(--color-pink, #f1b2ce);
  --brand-color: var(--color-purple, #db00ff);
  --secondary-color: var(--color-purple-primary, #ff0070);
  --secondary-color-o-40: var(--color-purple-dark, #ff007040);
  --accent-color: var(--color-purple-primary, #ff0070);
  --highlight-color: var(--color-black, #000028);

  --page-background-color: var(--color-black, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--color-pink, #f1b2ce);
    --brand-color: var(--color-purple, #db00ff);
    --secondary-color: var(--color-purple-primary, #ff0070);
    --secondary-color-o-40: var(--color-purple-dark, #ff007040);
    --accent-color: var(--color-purple-primary, #ff0070);
    --highlight-color: var(--color-black, #000028);

    --page-background-color: var(--color-black, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}

