
.page.theme_dark {
  --text-color: var(--text-primary, #f1b2ce);
  --brand-color: var(--brand-color, #db00ff);
  --secondary-color: var(--accent-color, #ff0070);
  --secondary-color-opc: var(--accent-color-transparent, #ff007040);
  --accent-color: var(--accent-color, #ff0070);
  --highlight-color: var(--bg-primary, #000028);

  --page-background-color: var(--bg-primary, #000028);
  --page-background-image: url("../images/cover-image-dark.png");

  --rec-decor-visibility: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--text-primary, #f1b2ce);
    --brand-color: var(--brand-color, #db00ff);
    --secondary-color: var(--accent-color, #ff0070);
    --secondary-color-opc: var(--accent-color-transparent, #ff007040);
    --accent-color: var(--accent-color, #ff0070);
    --highlight-color: var(--bg-primary, #000028);

    --page-background-color: var(--bg-primary, #000028);
    --page-background-image: url("../images/cover-image-dark.png");

    --rec-decor-visibility: visible;
  }
}

