
.page.theme_light {
  --text-color: var(--bg-secondary, #353430);
  --accent-color: var(--text-primary-dark, #ff8dcb);
  --brand-color: var(--text-accent, #ffc2e6);
  --highlight-color: var(--bg-secondary, #353430);
  --secondary-color: var(--bg-secondary, #353430);
  --secondary-color-opc: var(--bg-secondary-transparent, #35343040);

  --page-background-color: var(--color-primary, #fff1f7);
  --page-background-image: url("../images/cover-image-light.png");

  --rec-decor-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--bg-secondary, #353430);
    --accent-color: var(--text-primary-dark, #ff8dcb);
    --brand-color: var(--text-accent, #ffc2e6);
    --highlight-color: var(--bg-secondary, #353430);
    --secondary-color: var(--bg-secondary, #353430);
    --secondary-color-opc: var(--bg-secondary-transparent, #35343040);

    --page-background-color: var(--color-primary, #fff1f7);
    --page-background-image: url("../images/cover-image-light.png");

    --rec-decor-visibility: hidden;
  }
}
